*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  
  font-family: "Belleza", "Archivo Black", "Freeman", "Montserrat", sans-serif;
  font-optical-sizing: auto;;
  color: white;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 0.7rem;
  height: 56px; /* ??? Should I make it flexible? */
  background-color: #1e306e;
}

.top-left-column {
  flex: 0 0 auto; /* This column won't grow or shrink and will have its initial size */
  display: flex;
  align-items: center;
}

.top-left-column img {
  width: 24px; /* Adjust the width of the image as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 8px; /* Add spacing between the image and text */
}

.top-middle-column {
  flex: 1; /* This column will grow to fill the remaining space */
  text-align: center;
  font-size: 0.9rem;
}

.top-right-column {
  flex: 0 0 auto; /* This column won't grow or shrink and will have its initial size */
  margin-left: auto; /* This pushes it to the right */
  display: flex;
  align-items: center;
}

.top-right-column img {
  width: 24px; /* Adjust the width of the image as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 8px; /* Add spacing between the image and text */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically */
  background-color: white;
  color: #1e306e;
  padding: 10px 20px;
  height: 56px;
  font-size: 1.2rem;
}

.navbar a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from its parent */
}

.logo {
  height: auto; /* Ensure the container adjusts its height based on its content */
  align-items: center; /* Align items vertically */
}

.logo img {
  width: auto; /* Allow the width to adjust automatically */
  height: 100%; /* Set the height of the image to 100% of its container */
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation ul {
  list-style-type: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  margin-right: 20px; /* Add spacing between navigation links */
}

.navigation .hightlighted-category {
  color: #CB372A;
}

.shopping-cart {
  display: flex;
  align-items: center;
}

.shopping-cart img {
  width: 30px; /* Adjust the width of the shopping cart icon as needed */
  height: auto; /* Maintain aspect ratio */
}

.promotion {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 356px;
}

.img1 {
  grid-column: span 2;
}

.img1, .img2, .img3, .img4 {
  grid-row: 1; /* Places these images on the first row */ß
}

.banner {
  grid-column: span 5;
  grid-row: 2;
}

.promotion img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.history-factoids {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  color: #1e306e;
  background-color: #f7fafc;
}

.middle-columns {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  min-width: 810px;
}

.large-text {
  grid-row: 1;
  grid-column: 1 / span 3;
  padding: 40px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
}

.factoid {
  grid-row: 2;
  display: flex;
  flex-direction: column; /* flex container places items from left to right by default */
                          /* 'column' changes the direction to top to bottom */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 60px;
  font-weight: 500;
}

.factoid-icon {
  height: 88px;
}

.middle-columns {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 270px));
  min-width: 810px;
}

@media (max-width: 810px) {
  .middle-columns {
    grid-template-columns: repeat(3, 240px);
  }
}

.headline-hero {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-self: center;
  padding: 40px;
}

.hero-headline-component {
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  padding: 0px;
  color: rgb(21, 21, 21);
}

.hero-text-component {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  color: rgb(21, 21, 21);
}

.product-grid {
  /*display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(21, 21, 21);
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 750px; /* Adjust as needed */
  padding: 0 30px;
  text-align: center;
  max-width: 374px;
}

.product-card h2 {
  font-size: 1.8em;
  font-weight: bold;
  color: rgb(21, 21, 21);
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 20px;
}

.perk {
  background-color: lightblue;
  border-radius: 10px;
  padding: 5px 10px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1px;
}

.product-name {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(21, 21, 21);
}

.product-description {
  font-size: 1em;
  color: #151515;
}

.product-image {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.features {
  list-style-type: none;
  color: rgb(21, 21, 21);
  text-align: left;
  font-weight: 100;
  font-size: 1em;
  height: 256px;
  overflow: hidden;
 /* align-items: left; */
 /* align-self: flex-start;*/
}


.features li {
  margin-bottom: 10px;
}

/*.bullet-icon {
  height: 20px;
  width: 20px;
}*/

.bullet-tick {
  list-style-image: url('./assets/images/Tick.svg');
}

.bullet-snow {
  list-style-image: url('./assets/images/Cool.svg');
  vertical-align: middle;
  /*list-style-type: none; 
  padding-left: 30px; 
  background: url('./assets/images/Cool.svg') no-repeat left center; 
  background-size: 20px 20px; */
}

.purchase-button {
  display: inline-block;
  background-color: darkblue;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  /*align-self: flex-start;*/
  margin: auto;
  font-size: 1em;
  font-family: "Belleza", "Archivo Black", "Freeman", "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust as needed */
  margin-top: 10px;
  margin-bottom: 60px;
}

.discounted-price {
  color: green;
}

.full-price {
  text-decoration: line-through;
}

.shop-all-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.shop-all-button {
  background-color: white;
  color: darkblue;
  border: 1px solid darkblue; /* Add this line to create a border */
  border-radius: 25px; /* Adjust as needed */
  padding: 10px 20px;
  text-align: center;
  font-size: 1em;
  font-family: "Belleza", "Archivo Black", "Freeman", "Montserrat", sans-serif;
  letter-spacing: 2px;
  box-shadow: none;
}

/*.whats-included {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  color: #1e306e;
  background-color: #f7fafc;
}*/

.whats-included {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1e306e;
  background-color: #f7fafc;
}

.whats-included-heading {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 40px;

}

.whats-included-grid-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.whats-included-grid-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
}

.included-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.included-item p {
  font-size: 1.2em;
  font-weight: 500;
}

.included-item-icon {
  height: 88px;
  padding-bottom: 10px;
} 

.whats-included-footnote {
  font-size: 1rem;
  font-weight: 100;
  padding: 40px;
}

/* 10, 32, 101 */
.catergory-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding: 0px;
  width: 100vw;
  max-width: 1500px;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 400px;
  border: 1px solid red;
}

.catergory-grid img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border: 1px solid greenyellow;
}
/* TODO: Fix here! */
.cat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px;
  background-color: rgb(10, 32, 101);
  border-radius: 10px;
  color: white;
  height: auto;
  overflow: auto;
  border: 2px solid lightblue;
}

.cat-mattresses {
  grid-column: 1;
}

.cat-pillows {
  grid-column: 2;
}

.cat-furniture-bedding {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.cat-furnitue,
.cat-bedding {
  height: 45%
}

.cat-furnitue {
  margin-bottom: 20px; /* DOESN'T APPLY */
}
.cat-mattresses,
.cat-pillows,
.cat-furniture-bedding {
  height: 100%; /* Add this line */
}