.referButton {
  cursor: pointer;
}

.modalBody {
  display: flex;
  background-image: url('./assets/images/mobile-mattress.jpg');
  background-size: cover;
  background-position: -155px 0;
  height: 100%;
  padding: 0;
}

.modalContainer, .modalRow {
  height: 100%;
  padding: 0;
  margin: 0;
}

.leftCol {
  background-color: transparent;
}

.rightCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(230, 230, 230);
  text-align: center;
  padding: 0;
}

.rightColContainer {
  padding: 0;
}

.rightColHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  height: 60px;
}

.closeButton {
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 100;
  line-height: 2rem;
  padding: 0;
  width: 40px;
  height: 40px;
}

.formContainer {
  padding: 37px;
}

.shareButton {
  width: 100%;
  background-color: rgb(15, 26, 84);
  border: none;
}

.rightColFooter {
  margin-top: 0;
  margin-bottom: 0;
}